@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*------------------ shared styles -----*/
.display-flex {
    display: flex;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
}

main>section {
    margin-top: 130px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* common colors */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.orange {
    color: #FF900E;
}

/*------------- header styles----------- */
/* havbar related style*/

.nav-links {
    padding-left: 0px;
}

.nav-items {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar {
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-size: 3rem;
    font-weight: bold;
}

/* ------------banner styles----------------- */

.banner-container {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-image {
    width: 100%;
    margin-bottom: 40px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-description {
    font-size: 1rem;
    color: #727272;
}


/* -------------Quick feature related styles------------ */
.quick-feature-list {
    align-items: center;
}

.quick-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-feature {
    max-width: 540px;
    margin-left: 70px;
}

.quick-f-heading {
    font-size: 2.8rem;
}

.first-part {
    font-weight: 500;
}

.second-part {
    font-weight: 700;
}

.third-part {
    font-weight: 700;
}

.quick-f-description {
    font-size: 1rem;
    margin-bottom: 30px;
}

/* ---------------fearue you will enjoy---------- */
.main-feature-heading {
    font-size: 2.8rem;
    font-weight: bold;
    border-left: 5px solid #FF900E; 
    padding-left: 20px;    
}
.main-feature-des {
    max-width: 580px;
}
.feature-card {
    padding: 30px 40px 30px 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.experience img {
    max-width: 100%;
}
.experience button{
    background-color: #FF900E;
    padding: 45px 42px;
    border: none;
    border-radius: 8px;
    margin-left: -90px;
    margin-top: -120px;
}
#tenyear {
    font-size: 4rem;
    font-weight: bold;
    color: #FFFFFF;
}
#exp {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600px;
}
.main-feature {
    gap: 140px;
}

/* ---------------some fact section--------------- */
.some-fact-title {
    font-size: 2.8rem;
    font-weight: bold;
}

.some-fact-description {
    max-width: 540px;
    margin-bottom: 50px;
}

.card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    align-content: center;
}

.some-fact-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.card-img {
    max-width: 45px;
    max-height: 45px;
}

.card-no {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 20px auto;
}

.card-des {
    font-size: 1.25rem;
    font-weight: 600;
}

/* ----------sponsor-logo-container------------- */
.sponsor-heading,
.sponsor-des {
    text-align: center;
    max-width: 100%;
}

.sponsor-logo-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-top: 50px;
    filter: grayscale(100%);
}

/* ----------------footer section---------------- */
footer {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF4E7;
    text-align: center;
}

.footer-text {
    font-size: 1.25rem;
    padding-top: 40px;
    padding-bottom: 38px;
    margin-top: 150px;
}

/* ---------------- responsiver media query------------- */

/* navbar section */
@media screen and (max-width: 576px) {

    .navbar,
    .quick-feature-list {
        flex-direction: column;
    }

    .nav-links {
        max-width: 100%;
    }

    .banner-title {
        font-size: 3rem;
        font-weight: bold;
    }

    .nav-items {
        margin-right: 15px;
    }

}

/* Quick feature section */
@media screen and (max-width: 576px) {

    .quick-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .navbar,
    .quick-feature {
        /* align-items: center; */
        margin: 0 auto;
        text-align: center;
    }

}

/* some fact section */

@media screen and (max-width: 567px) {
    .some-fact-cards {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .some-fact-title,
    .some-fact-description {
        text-align: center;
        max-width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .sponsor-logo-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 30px;
    }
    .logo {
        max-width: 30%;
    }
}


/* feature you will enjoy section */
@media screen and (max-width: 576px) {
    .main-feature {
        flex-direction: column;
    }
    .good-feature-list {
        text-align: center;
    }

    .experience {
        align-content: center;
    }
    .experience button {
        margin-top: 20px;
        margin-left: 34px;
    }
}